.container {
  display: none;
}

@media (max-width: 1023px) {
  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    width: 100vw;
    height: 80px;
    min-height: 80px;
    background-color: #fff;

    position: sticky;
    top: 0;
    z-index: 5;
  }

  .nav {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 10px 0;

    color: #1c244b;
    font-weight: 600;
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 5%;
  }

  .available__languages {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
  }

  .available__languages div {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }

  .available__languages button {
    height: 18px;
    width: 32px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    display: flex;

    /* remove after adding i18next */
    cursor: not-allowed;
  }

  .available__languages button img {
    max-width: inherit;
    max-height: inherit;
    width: 100%;
    height: 100%;
    height: inherit;
    width: inherit;
    object-fit: cover;
  }
}
