.login {
  align-self: flex-end;
  padding: 10px;
  background-color: lightblue;
  border-radius: 7px;
  font-weight: 600;
}
.login:hover {
  opacity: 0.8;
  cursor: pointer;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.container ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  align-self: center;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  width: 200px;
  gap: 20px;
}

.card__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 220px;
  width: 100%;
  padding: 20px;

  text-align: center;
}

.card__container h1 {
  color: #003380;
  font-weight: 600;
  font-size: 1.5em;
}

.card__container a {
  color: #467ff7;
  text-transform: uppercase;
}

.footer {
  border-top: 0.5px solid rgba(173, 173, 173, 0.3);
  text-align: center;
  color: #adadad;
  font-size: 0.8em;
  font-weight: 600;
  padding: 15px 30px;
}

.tooltipWrapper {
  display: flex;
  align-self: flex-end;
}
