.socials {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

.socials a {
  height: 24px;
  width: 24px;
  color: #fff;
}

.socials a:hover {
  color: #fff;
  transition: ease 0.5s;
}
