.main {
  display: flex;
  flex-direction: column;

  min-height: 100vh;
  gap: 50px;
}

.section__1 {
  height: 100vh;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
  z-index: 2;
}

.background {
  height: 100%;
  width: 100%;
  background-image: url("../../assets/images/official-pics/bradv/3.jpg");
  background-blend-mode: darken;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.mask {
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  z-index: 1;
  height: 100vh;
  position: absolute;
}

.content {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  color: #fff;
  font-weight: 400;
  z-index: 2;
}

.content h1 {
  font-size: 3em;
  font-weight: 700;
  text-align: center;
  margin-bottom: 20px;
}

.content p {
  font-size: 1.2em;
}

.content__channels {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  width: 100%;
  z-index: 3;
  gap: 20px;
}

.content__channels div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.content__channels h3 {
  font-size: 2em;
  color: #fff;
}

.content__channels a {
  color: #c36;
  font-weight: 600;
}

.section__2 {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  border-radius: 12px;
  background-image: url("../../assets/images/official-pics/bradv/4.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  min-height: 300px;
  min-width: 300px;
  max-width: 600px;
  max-height: 500px;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 90%;
  min-height: 100vh;
}

.text__container h1 {
  font-size: 3em;
  font-weight: 700;
  color: #1c244b;
  line-height: 1.2em;
  width: 500px;
}

.text__container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 500px;
}

.text {
  max-width: 400px;
  align-self: flex-start;
}

.section__3 {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .section__1 {
    height: 100%;
  }

  .mask {
    height: 100%;
  }
  .background {
    align-self: center;
    justify-content: center;
  }
  .content {
    padding: 30px;
    width: 100%;
    max-width: 100%;
  }

  .content h1 {
    font-size: 2em;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
  }

  .content p {
    font-size: 14px;
    font-weight: 300;
  }
  .content__channels {
    max-width: 100%;
    padding: 30px;
  }

  .content__channels div {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .content__channels h3 {
    font-size: 1em;
    color: #fff;
  }

  /* section 2 */
  .section__2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 30px;
    height: 100%;
    min-height: 100%;
  }

  .section__2 .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
  }

  .image {
    display: flex;
    width: 100%;
    height: 100%;
    min-height: 200px;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.5);
    border-radius: 12px;
    background-image: url("../../assets/images/official-pics/bradv/4.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .text__container h1 {
    width: 100%;
    font-size: 2em;
    text-align: center;
  }

  .text {
    max-width: 100%;
  }

  /* section 3 */
  .section__3 {
    height: 100%;
  }
}

.animation__text__focus__in {
  -webkit-animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

.animation__slide__bottom {
  -webkit-animation: slide-bottom 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s
    both;
  animation: slide-bottom 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s both;
}

/**
 * ----------------------------------------
 * animation text-focus-in
 * ----------------------------------------
 */
@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

/**
 * ----------------------------------------
 * animation slide-bottom
 * ----------------------------------------
 */
@-webkit-keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
