.main {
  position: relative;

  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
  justify-content: space-evenly;
  min-height: 100vh;
}

.nav {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  margin-top: 20px;
}

.section__1,
.section__2,
.section__4,
.section__5 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
}

.section__1 div,
.section__2 div {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 20px;
  width: 450px;
}

.section__1 div h1 {
  text-transform: uppercase;
  font-size: 3.5em;
  color: #1c244b;
}

.section__1 div button {
  width: 200px;
}

.section__2 div h1 {
  color: #1c244b;
  font-size: 3em;
  margin-bottom: -20px;
}

.s1__subtitle {
  border-top: 1px solid gray;
}
.s1__subtitle h3 {
  padding-top: 10px;
  color: #ff0000;
  font-size: 1.5em;
}

.section__2 div p,
.section__2 div span {
  color: #324a6d;
}

.section__2 div span {
  font-style: italic;
}

.section__3 {
  display: flex;
  justify-content: space-evenly;
  width: 100vw;
  height: 100%;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 300px;
  height: 100%;
  transition: 0.5s ease-in-out;
}

.sticky h1 {
  text-align: center;
  font-size: 2.5em;
  text-transform: uppercase;
  width: 200px;
  font-weight: 700;
}
