.main {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.section__1,
.section__2,
.section__4,
.section__5 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  gap: 100px;
}

.section__1 > div {
  gap: 20px;
  display: flex;
  flex-direction: column;
}

.section__1 div,
.section__2 div {
  display: flex;

  width: 500px;
}

.section__1 div h1 {
  text-transform: uppercase;
  font-size: 3em;
  font-weight: 600;
  color: #1c244b;
}

.section__1 div button {
  width: 200px;
}

.s1__subtitle {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-top: 1px solid gray;
  max-width: 500px;
}

.s1__subtitle button {
  font-size: 16px;
}

.s1__subtitle h3 {
  padding-top: 10px;
  color: #ff0000;
  font-size: 1.5em;
  font-weight: 800;
}

.section__1__img {
  height: 400px;
  width: 400px;
  border-radius: 12px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.7);
}

#section__2 {
  transition: opacity 0.5s ease-in-out;
}

.section__container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.section__container h1 {
  color: #1c244b;
  font-size: 3em;
  margin-bottom: -20px;
  font-weight: 600;
}

.section__text {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.section__2 div p,
.section__2 div span {
  color: #324a6d;
}

.section__2 div span {
  font-style: italic;
}

.holder {
  width: 600px;
  height: 500px;
  background-image: url("../assets/images/official-pics/bradv/b3.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 12px;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.5);
}

.section__3 {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 300px;
  height: 100%;
  transition: 0.5s ease-in-out;
}

.sticky h1 {
  text-align: center;
  font-size: 2.5em;
  text-transform: uppercase;
  width: 250px;
  font-weight: 700;
}

/* desktop */
@media (max-width: 1440px) {
  /* section 1 */
  .section__1 {
    flex-direction: column-reverse;
    gap: 30px;
  }

  .section__1 > div {
    justify-content: center;
    align-items: center;
  }

  .section__1 div,
  .section__2 div {
    width: 100%;
  }

  .section__1 div h1 {
    width: 100%;
    max-width: 80%;
    font-size: 3em;
    text-align: left;
  }

  .s1__subtitle {
    max-width: 100%;
    max-width: 80%;
  }

  .section__1__img {
    width: 100%;
    border-radius: 0;
    box-shadow: unset;
    height: 500px;
  }

  /* section 2 */
  .section__2 {
    flex-direction: column;
  }

  .holder {
    width: 100%;
    height: 500px;
    border-radius: 0;
    box-shadow: unset;
  }

  .section__container {
    justify-content: center;
    align-items: center;
    align-self: center;
    width: 100vw;
    max-width: 450px;
    text-align: left;
    gap: 20px;
  }

  .section__text {
    max-width: 500px;
  }
}

/* tablet */
@media (max-width: 1024px) {
  .section__1,
  .section__2,
  .section__4,
  .section__5 {
    gap: 50px;
  }
  .section__3 {
    flex-direction: column;
    margin-top: 30px;
  }

  .sticky {
    position: static;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    transition: 0.5s ease-in-out;
  }

  .sticky h1 {
    width: 100%;
    max-width: 80%;
    margin: 30px auto;

    font-size: 2.5em;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
  }

  .section__container {
    width: 100%;
    max-width: 80%;
  }

  .section__container a {
    width: 100%;
  }
}

/* mobile */
@media (max-width: 768px) {
  .section__1 div h1,
  .section__container h1,
  .sticky h1 {
    font-size: 2.5em;
  }
}

.animation__text__focus {
  -webkit-animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

.slide__in__from__right {
  -webkit-animation: slide-in-right 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.6s
    both;
  animation: slide-in-right 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.6s both;
}

.animation__slide__bottom {
  -webkit-animation: slide-bottom 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s
    both;
  animation: slide-bottom 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s both;
}

.animation__scale__in__center {
  -webkit-animation: scale-in-center 1s cubic-bezier(0.175, 0.885, 0.32, 1.275)
    forwards;
  animation: scale-in-center 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
}

/**
 * ----------------------------------------
 * animation slide-bottom
 * ----------------------------------------
 */
@-webkit-keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

/**
 * ----------------------------------------
 * animation text-focus-in
 * ----------------------------------------
 */
@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

/**
 * ----------------------------------------
 * animation slide-in-right
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
