.carousel {
  height: 400px;
  max-width: 500px;
  border-radius: 12px;
}
.carousel img {
  border-radius: 12px;
  height: 400px;
  max-width: 500px;
}

@media (max-width: 1440px) {
  .carousel {
    height: 500px;
    max-width: 100vw;
    border-radius: 0;
  }

  .carousel img {
    height: 500px;
    max-width: 100vw;
    border-radius: 0;
  }
}
