.carousel {
  height: 400px;
  max-width: 500px;
  border-radius: 12px;
}
.carousel img {
  border-radius: 12px;
  height: 400px;
  max-width: 500px;
}

@media (max-width: 1440px) {
  .carousel {
    height: 100%;
    max-width: 100%;
    min-height: 100%;
  }

  .carousel img {
    height: 100%;
    max-width: 100%;
    min-height: 100%;
  }
}

@media (max-width: 1024px) {
  .carousel {
    height: 100%;
    width: 100%;
    min-height: 100%;
  }

  .carousel img {
    height: 100%;
    width: 100%;
    min-height: 100%;
  }
}
