.login {
  padding: 10px;
  background-color: #25d366;
  border-radius: 7px;
  min-width: 100px;
  text-align: center;
  font-weight: 600;
}
.login:hover {
  background-color: rgba(37, 211, 102, 0.7);
}
